
  body {
    background-color: #90c4f2;
  }

hr{
        background-color: #90c4f2;
        border-style: dotted;
        border-color: #4c6477;
        border-width: 10px;
        border-bottom-style: none;
        height: 0;
        width: 10%;
      }
h1{ color:#4c6477;
}
h3{ color:#4c6477;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #42855B;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: blue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

p {color: black;
   display: block;
}
